<!doctype html>
<html class="no-js" lang="en">

<head>
    
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title%}Interview Portal{% endblock %}</title>
    <meta name="description" content="Interview Portal">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'home/apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'home/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'home/vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'home/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body class="bg-dark">


    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="#">
                        <img class="align-content" src="{% static 'home/images/logo.png' %}" alt="">
                    </a>
                </div>
                <div class="login-form">
                    {% block body%}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'home/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'home/vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'home/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/assets/js/main.js' %}"></script>


</body>

</html>
