{% extends 'Login/base.html' %}
{% load widget_tweaks %}
{% block title %}Reset Password{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
    <span class="login100-form-title p-b-41">
        {% block form_title %} Password Reset {% endblock %}
    </span>
    <form method="post" class="login100-form validate-form p-b-33 p-t-5">
    {% csrf_token %}
    <div class="wrap-input100 validate-input form-group">
        {{ form.email | add_class:'input100' }}
        <span class="focus-input100" data-placeholder="&#xe818;"></span>
    </div>
    <div class="container-login100-form-btn m-t-32">
        <button class="login100-form-btn">
            Submit
        </button>
    </div>
</form>
{% endblock %}