{% extends 'Login/base_home.html' %}
{% load widget_tweaks %}
{% block title %}Interviewer Home-Page{% endblock %}


{% block nav %}
  <li class="active">
      <a class="scroll-link" href="{% url 'interviewer:home' %}" id = "Home"><i class="fa fa-home" style="padding-right: 2px;"></i>Dashboard</a>
  </li>
  <li >
      <a class="scroll-link" href="{% url 'interviewer:profile' %}" id = "Profile"><i class="fa fa-home" style="padding-right: 2px;"></i>Profile</a>
  </li>
  <li>
      <a class="scroll-link" href="{% url 'interviewer:interviews-scheduled' %}" id = "InterviewsScheduled"><i class="fa fa-home" style="padding-right: 2px;"></i>Interviews Scheduled</a>
  </li>
  <li>
     <a href="{% url 'interviewer:add-interviews' %}"> <i class="fa fa-home"></i>Add Interviews </a>
  </li>
  <li>
    <a class="scroll-link" href="{% url 'Login:logout' %}" id = "logout"><i class="fa fa-home" style="padding-right: 2px;"></i>Logout</a>
</li>
{% endblock %}