{% load static %}
<!doctype html>
<!-- See http://www.firepad.io/docs/ for detailed embedding docs. -->
<html>

<head>
  <meta charset="utf-8" />
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

  <!-- CodeMirror -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />

  <!-- Firepad -->
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
  <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
  <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <script type="text/javascript" src="{% static 'editor/editor.js'%}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'editor/editor.css'%}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/mode/python/python.min.js" integrity="sha512-wWnd0mjQTkxcs4nTZyu9TqfeDbXghPYwndBrvzjmyAgNKX4rJ5xPirrescJZkVtrWHIb9//dMABkORz6FSJfYA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/mode/clike/clike.min.js" integrity="sha512-PeD3V/6m5bFv3qyIVKgDh+huybMHjvsLWuW7ZH5WZsS+hY0pZNU24si/Yja/2D4c/ff++c6k1S240dKwhJEJzw==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/mode/meta.min.js" integrity="sha512-4AU15G/D6Ths4lJNV28xrLdjg8+FXTV1K6SXB9Rq6KthXET4N8grXSXLRwAx4inRs/FULSTfeQgBQmHJ1DyHmw==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/theme/dracula.min.css" integrity="sha512-gFMl3u9d0xt3WR8ZeW05MWm3yZ+ZfgsBVXLSOiFz2xeVrZ8Neg0+V1kkRIo9LikyA/T9HuS91kDfc2XWse0K0A==" crossorigin="anonymous" />




</head>

<body onload='init("{{question}}", "{{ freeze }}", "{{ lang }}")'>
    <div id="firepad-container"></div>
    <button id="freeze" class="btn" onclick="freezeall()">Freeze</button>
    <div id="dropdown" class="col-md-6 mb-3">
      <button id="run" class="btn" onclick="compileandrun()">Run</button>
      <select class="form-control form-control-lg" name="category" id="language" required onchange="select()">
        <option value="C">C</option>
        <option value="CPP">C++</option>
        <option value="JAVA">Java</option>
        <option value="PYTHON2">Python 2</option>
      </select>
  </div>
  <div id="firepad-container1"></div>
  <div id="input"></div>
  <div id="output"></div>

  <!-- </div> -->
</body>
</html>

<script>
$(document).ready(function(){
  myVar = setInterval('checkState("{{freeze}}")', 5000);
  langchk = setInterval('checklanguage("{{language}}")',10000);

});

</script>