{% extends 'Login/base_home.html' %}
{% load widget_tweaks %}
{% block title %}Interviewee Home-Page{% endblock %}


{% block nav %}
    <aside id="left-panel" class="left-panel">
        <div id="main-menu" class="sidenav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'interviewee:home' %}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'interviewee:profile' %}"> <i class="menu-icon fa fa-dashboard"></i>Profile </a>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'interviewee:interviews-scheduled' %}"> <i class="menu-icon fa fa-dashboard"></i>Interviews Scheduled </a>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'interviewee:interview-requests' %}"> <i class="menu-icon fa fa-dashboard"></i>Interview Requests </a>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    <a href="#"> <i class="menu-icon fa fa-dashboard"></i>Logout </a>
                </li>
            </ul>
        </div>

    </aside>

{% endblock %}
