{% extends 'interviewee/base.html' %}
{% block style %}

<style>

#accordion{
  color: white;
  font-size: 20px;
}

#add-interviewer{

  position: absolute;
  right: 4.5%;
  bottom: 6.5%;
  width: 5%;

}


#add-interviewee{

  position: absolute;
  right: 4.5%;
  bottom: 6.5%;
  width: 5%;

}

.email-entry{
  padding-top: 10px;
}

a {
  color: white;
}

div {
  color:teal;
}

.panel-default>.panel-heading {
  background-color: black;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: black;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

</style>

{% endblock %}

{% block nav %}
  <li class="active">
      <a class="scroll-link" href="#" id = "Profile"><i class="fa fa-home" style="padding-right: 2px;"></i>Profile</a>
  </li>
  <li>
      <a class="scroll-link" href="#" id = "InterviewsScheduled"><i class="fa fa-home" style="padding-right: 2px;"></i>Interviews Scheduled</a>
  </li>
  <li>
    <a class="scroll-link" href="{% url 'Login:logout' %}" id = "logout"><i class="fa fa-home" style="padding-right: 2px;"></i>Logout</a>
</li>
{% endblock %}

{% block body %}


<div class="wrapper">

  <section id="section-profile">

    <div class="breadcrumbs" style="padding-top: 2%;">
          <div class="page-header">
              <div class="page-title">
                <center>
                  <p style="font-size: 36px;">Profile</p>
                </center>
              </div>
          </div>
    </div>
    <div>
                <div class="col email-entry">
                  <div class="col-sm-6">
                      Name
                  </div>
                  <div class="col-sm-6">
                    {{ interviewee.name }}
                  </div>
                </div>
                <div class="col email-entry">
                  <div class="col-sm-6">
                    Email
                  </div>
                  <div class="col-sm-6">
                    {{ interviewee.email }}
                  </div>
                </div>
                <div class="col email-entry">
                  <div class="col-sm-6">
                    Phone
                  </div>
                  <div class="col-sm-6">
                    {{ interviewee.phone }}
                  </div>
                </div>
                <div class="col email-entry">
                  <div class="col-sm-6">
                    Resume
                  </div>
                  <div class="col-sm-6">
                    {{ interviewee.resume_link }}
                  </div>
                </div>
    </div>

  </section>

  <section id="section-Schedule" style="display: none;">

    <div class="breadcrumbs" style="padding-top: 2%;">
          <div class="page-header">
              <div class="page-title">
                <center>
                  <p style="font-size: 36px;">Interviews Scheduled</p>
                </center>
              </div>
          </div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for interview in interview %}
          {{ for.count }}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="{{ interview.pk }}">
              <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ interview.pk }}" aria-expanded="true" aria-controls="collapse{{ interviewee.pk }}">
                {{interview.interviewer.name}}
              </a>
            </h4>
            </div>
            <div id="collapse{{ interview.pk }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{ interviewee.pk }}">
              <div class="panel-body">
                <div class="col email-entry">
                  <div class="col-sm-6">
                      Interview Link
                  </div>
                  <div class="col-sm-6">
                    <a href='#' class="link" id="{{ interview.token }}">Join Now</a>
                  </div>
                </div>
                <div class="col email-entry">
                  <div class="col-sm-6">
                    Start Time
                  </div>
                  <div class="col-sm-6">
                    {{ interview.startTime }}
                  </div>
                </div>
                <div class="col email-entry">
                  <div class="col-sm-6">
                    End Time
                  </div>
                  <div class="col-sm-6">
                    {{ interview.endTime }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

  </section>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

$('#Profile').click(function() {

  var id = $(this).attr('id');
  console.log(id);

  document.getElementById("section-profile").style.display = 'block';
  document.getElementById("section-Schedule").style.display = 'none';

});

$('#InterviewsScheduled').click(function() {

var id = $(this).attr('id');
console.log(id);

document.getElementById("section-profile").style.display = 'none';
document.getElementById("section-Schedule").style.display = 'block';

});
$('.link').click(function (){
    var token = $(this).attr('id');
    console.log(token);
    var url = '127.0.0.1/interviewee/' + token;
    console.log(url);
    window.location.assign(token);
    console.log('clicked');
});


</script>
{% endblock %}